<h1>Classic</h1>

<ul>
  <li>{{link-to 'Route with Global Lookup' 'global-only'}}</li>
  <li>{{link-to 'Route with Local Lookup' 'local-only'}}</li>
  <li>{{link-to 'Route with Global and Local Lookup' 'local-wins'}}</li>
</ul>

<h1>Pods</h1>

<ul>
  <li>{{link-to 'Route with Global Lookup' 'pods-global-only'}}</li>
  <li>{{link-to 'Route with Local Lookup' 'pods-local-only'}}</li>
  <li>{{link-to 'Route with Global and Local Lookup' 'pods-local-wins'}}</li>
</ul>

{{outlet}}
